<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113660204781-6mq5sb2d8erjndm7dllpdfv5hajrbruh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113660204781-6mq5sb2d8erjndm7dllpdfv5hajrbruh</string>
	<key>API_KEY</key>
	<string>AIzaSyBjnOsscf0_ujrwbZoF6Jh90cmgW-sizRg</string>
	<key>GCM_SENDER_ID</key>
	<string>113660204781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fourdotsix.cricketstarategysimulatorapp</string>
	<key>PROJECT_ID</key>
	<string>cricket-strategy-simulator</string>
	<key>STORAGE_BUCKET</key>
	<string>cricket-strategy-simulator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113660204781:ios:5ea6ea734332b2a5</string>
	<key>DATABASE_URL</key>
	<string>https://cricket-strategy-simulator.firebaseio.com</string>
</dict>
</plist>